# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\developer\github_workspace\rocketmq_gb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
